{% extends "base_aplication.html" %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'homepage/css/homepage.css' %}">
{% endblock %}

{% block 'body' %}

<header>
    <div class="px-3 py-2 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="#" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                <img class="bi me-3" width="120" src="{% static 'geral/img/CBA_SEC_LOGO.png' %}"><use xlink:href="#bootstrap"/></img>
                <span class="fs-4"> Controle Estoque</span>
                </a>

                <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                    <li class="nav-iten">
                        <a href="#" class="btn-width btn btn-sm btn-outline-primary me-2">
                            <ion-icon name="reader-outline" class="bi d-block mx-auto mb-1 fs-4"></ion-icon>
                            Lista
                        </a>
                    </li>
                    
                    <li class="nav-iten">
                        <a href="{% url 'cadastro_estoque' %}" class="btn-width btn btn-sm btn-outline-secondary me-2">
                            <ion-icon name="file-tray-stacked-outline" class="bi d-block mx-auto mb-1 fs-4"></ion-icon>
                            Cadastro
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'gerenciar_estoque' %}" class="btn-width btn btn-sm btn-outline-secondary">
                            <ion-icon name="create-outline" class="bi d-block mx-auto mb-1 fs-4"></ion-icon>
                            Editar
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="" class="btn-width btn btn-sm border border-1 border-white text-white ms-5 px-1">
                            <ion-icon name="person-outline" class="bi d-block mx-auto mb-1 fs-4"></ion-icon>
                            {% comment %} <ion-icon name="sunny-outline"></ion-icon> {% endcomment %}
                            {{ request.user }}
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <div class="px-3 py-2 border-bottom mb-3">
        <div class="container d-flex flex-wrap justify-content-center">
            <form class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto w-25" method="GET">
                <input type="search" name="nome_filtrar" class="form-control" placeholder="Buscar..." aria-label="Search">
                <input type="submit" value="Filtrar" style="display:none;">
            </form>

            <div class="text-end">
                <a href="{% url 'sair'%}"class="btn-width btn btn-primary">SAIR</a>
            </div>
        </div>
    </div>
</header>

<main>
    <section class="container shadow bg-body rounded mb-3" style="min-height: calc(100vh - 267px);">
        <table class="table table-striped table-lg table-hover ">
            <thead>
            
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Produto</th>
                <th scope="col">Modelo</th>
                <th scope="col">Data entrada</th>
                <th scope="col">Local</th>
                <th scope="col">Quantidade</th>
            </tr>
            </thead>
            <tbody class="table-group-divider">

            {% for i in dadosprodutos %}
            <tr>
                <td>{{ i.id }}</td>
                <td>{{ i.produto }}</td>
                <td>{{ i.modelo }}</td>
                <td>{{ i.data|date:"d \d\e F \d\e Y"}}</td>
                <td>{{ i.localidade }}</td>
                <td>{{ i.quantidade }}</td>
            </tr>
            {% endfor %}
            
            </tbody>
        </table>
    </section>
</main>

{% endblock %}